@import './normalize.css';
svg {
  cursor: pointer;
}
a {
  color: black;
  text-decoration: none;
}
.svg-button-catalog-show {
  transform: rotate(90deg);
}
.main {
  background-color: #f7f0f5;
  padding: 40px 0px;
}
.css-1v3atkn-MuiCardActions-root > :not(:first-of-type) {
  margin-left: 0px !important;
}
