{
  "semi": true,
  "endOfLine": "auto",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "Semicolons": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true
}
